
<div >
    <header class="static-page" >
        <h2>Enhance Product Listings with Custom Attributes</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Elevate your product listings with the Product Attributes Addon, allowing you to define and manage custom attributes for each product, organized into cohesive families.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Flexible Attribute Creation :
                    </span>
                    Easily add multiple attributes relevant to your products, enabling comprehensive categorization and management.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Group Multiple Attributes into Families : 
                    </span>
                    Organize attributes into families for a streamlined approach, making it easier to map them to specific product categories.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Detailed Product Specifications : 
                    </span>
                    Provide comprehensive product information that helps customers make informed purchasing decisions.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Intuitive Chat Window for Seamless Interaction : 
                    </span>
                    The chat interface is designed for ease of use, allowing users to navigate conversations effortlessly.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Improved Searchability : 
                    </span>
                    Enhance your site's search functionality by allowing customers to filter products based on their preferred attributes.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/attributes.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Product Attributes Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price : $10</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Flexible Attribute Creation</li>
                    <li class="QA-para">Group Multiple Attributes into Families</li>
                    <li class="QA-para">Detailed Product Specifications</li>
                    <li class="QA-para">Improved Searchability</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://www.spurtcommerce.com" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://www.spurtcommerce.com" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 23 Oct 24, 10:10 am
                </p>
            </div>
    
            <a href="https://www.spurtcommerce.com" class="QA-btn"  target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



