<div>
    <header>
        <h1>Create and Manage Custom Coupons for Discounts and Promotions</h1>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%" [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>

            <h1 class="addon-head">
                Boost sales and reward your customers with the Add Coupon Addon, allowing sellers to create and manage
                customized discount codes for their products and services.
            </h1>


            <ul class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Flexible Coupon Creation :
                    </span>
                    Sellers can create coupons with customizable options like coupon code, name, and type (percentage or
                    fixed amount).
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Control Discount Conditions :
                    </span>
                    Specify the minimum and maximum purchase amounts, choose applicable products, and set usage limits
                    for each coupon.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Manage Cart Application :
                    </span>
                    Apply coupons to all items in the cart or define how many items it should apply to, giving full
                    control over how discounts are distributed.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Usage Limits and Expiration :
                    </span>
                    Set how many times a user can use the coupon and define the validity period to manage promotions
                    effectively.
                </li>
            </ul>
        </div>

        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/images/coupon.svg" alt="Q&A">
                </div>

                <div class="QA-head">
                    <h2>Add Coupon Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>

                <p class="QA-para">Price : <a href="https://spurtcommerce.com/extension/b2csolutions/add-coupon-addon"
                        class="QA-lnk clickme" target="_blank">
                        <span>
                            Click for more details
                        </span>
                    </a>
                </p>
            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Flexible Coupon Creation</li>
                    <li class="QA-para">Percentage or Amount-Based Discounts</li>
                    <li class="QA-para">Product and Cart-Specific Coupons</li>
                    <li class="QA-para">Usage Limits and Expiration Control</li>
                </ul>

            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/images/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/add-coupon-addon" class="QA-lnk"
                    target="_blank">
                    <img src="assets/images/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>

            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 22 Oct 24, 10:30 am
                </p>
            </div>


            <a href="https://spurtcommerce.com/extension/b2csolutions/add-coupon-addon" class="QA-btn" target="_blank">
                Buy Now
            </a>
        </div>

    </section>
</div>