<app-catalog-header></app-catalog-header>
<app-breadcrumb></app-breadcrumb>
<div *ngIf="this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/product-list'  && this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings'
&& this.router.url!=='/catalog/manage-products/product_variant/product-update/'+id && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/product-list'&& 
this.router.url!=='/catalog/manage-products/product_attribute/product-update/'+id && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes/list'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes/add'&&
this.router.url!=='/catalog/manage-products/product_attribute/settings/attributes-group/list' &&
this.router.url.split('?')[0]!== '/catalog/manage-products/product/add'&&
this.router.url.split('?')[0]!== '/catalog/manage-products/product/edit/'+id &&
this.router.url.split('?')[0]!=='/catalog/manage-products/categories/add' &&
this.router.url.split('?')[0]!== '/catalog/manage-products/categories/edit/'+id && 
this.router.url.split('?')[0]!=='/catalog/manage-products/categories/localization' && 
this.router.url.split('?')[0]!=='/catalog/manage-products/categories/addLocalization' && 
this.router.url.split('?')[0]!=='/catalog/manage-products/categories/editLocatization/'+id && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings/variant-list' && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings/filters/list'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings/localization-update/'+id && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings/variantlocalization-list' && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/filters/list'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/filters/add'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings/filters/edit/'+id &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/filters/edit/'+id &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings/filters/add'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product-qr/product-qr-list'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_variant/variant-settings/filters/add'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product-qr/product-qr-list' && 
this.router.url.split('?')[0]!=='/catalog/import/excel-upload/excel-import'&&
this.router.url.split('?')[0]!=='/vendors/product-config/data-import/upload-file'&&
this.router.url.split('?')[0]!=='/vendors/product-config/data-import'&&
this.router.url.split('?')[0]!=='/catalog/import/export-data'&&
this.router.url.split('?')[0]!=='/catalog/import/from-module'&&
this.router.url.split('?')[0]!=='/catalog/import/import-products'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/product-specification/list'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/product-specification/add'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/product-specification/edit/'+id &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/family/list' &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/product-update' && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes-group/add' && 
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes-group/edit/' &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes-group/list'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes/edit/'+id &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes-group/edit/'+id &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes/localization-list'&&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes/localization-add' &&
this.router.url.split('?')[0]!=='/catalog/manage-products/product_attribute/settings/attributes/localization-edit/'+id &&
this.router.url.split('?')[0]!=='/catalog/manage-products/localization/list' &&
this.router.url.split('?')[0]!=='/catalog/manage-products/localization/add' &&
this.router.url.split('?')[0]!=='/catalog/manage-products/localization/edit/'+id 
" >
<div class="row products-section">
    <div class="col-12 layout-mar">
        <div class="card">
            <div class="product-ts-left">
                <ul>
                    <li>
                        <p>{{'catalog.categories.TotalProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <button type="button" class="btn" placement="bottom" ngbTooltip="Total number of products listed on the platform."><img src="assets/img/info-ico.png" alt="info"></button>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).totalProduct}}</h3>
                    </li>
                    <li>
                        <p>{{'catalog.categories.ActiveProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <button type="button" class="btn" placement="bottom" ngbTooltip="Number of products that are active (displayed to visitors) on the platform."><img src="assets/img/info-ico.png" alt="info"></button>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).activeProduct}}</h3>
                    </li>
                    <li>
                        <p>{{'catalog.categories.In-ActiveProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <button type="button" placement="bottom" ngbTooltip="Number of products that are in-active(not displayed for visitors' view) on the platform."><img src="assets/img/info-ico.png" alt="info"></button>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).inActiveProduct}}</h3>
                    </li>
                    <li>
                        <p>{{'catalog.categories.TotalCategory'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <button type="button" placement="bottom" ngbTooltip="Total number of product categories on the platform."><img src="assets/img/info-ico.png" alt="info"></button>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).totalCategory}}</h3>
                    </li>
                    <!-- <li>
                        <p>{{'catalog.categories.FeaturedProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <button type="button" placement="left" ngbTooltip="Number of Products that are featured on the platform."><img src="assets/img/info-ico.png" alt="info"></button>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).featuredProduct}}</h3>
                    </li> -->

                </ul>
            </div>
            <!--Left-->
        </div>
    </div>
</div>
</div>
<router-outlet></router-outlet>