<header>
    <div class="header-list flexx">
        <h1>{{'breadcrumbs.FailedOrders'|translate}}</h1>
        <div class="header-list-rht ms-auto flexx"
            [ngClass]="{'disable-div': (orderSandbox.failedOrderListLoading$ | async)||initalLoading || (productListArray?.length == 0 && formValueExists) || filterData?.length>0}">

            <!--item per page -->
            <div class="per-page flexx">
                <p>{{'common.PerPage'|translate}}</p>
                <div class="ig-row">
                    <ng-select [items]="pageSizeList" bindLabel="id" [searchable]="false" [clearable]="false"
                        (change)="pageSizeChange($event)" [(ngModel)]="limit">
                    </ng-select>
                </div>
            </div>

            <!--search filter -->
            <div class="search-filter" ngbDropdown #dropdownContent="ngbDropdown">
                <button tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"
                    ngbTooltip="{{'common.Search'|translate}}" placement="bottom" role="button" #tooltip="ngbTooltip" (mouseleave)="tooltip.close()">
                    <img src="assets/imgs/search.svg" alt="" (click)="open()">
                </button>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
                    <h5>{{'common.Search'|translate}}</h5>
                    <form class="" (keyup.enter)="applyFilter()">
                        <div class="input-group">
                            <div class="ig-row">
                                <app-reusable-forms [type]="dynamicObjControls.Search?.type"
                                    [control]="dynamicObjControls.Search?.control"
                                    [label]="dynamicObjControls.Search?.label"
                                    [inputId]="dynamicObjControls.Search?.inputId"
                                    [aliasName]="dynamicObjControls.Search?.aliasName"
                                    [placeholder]="dynamicObjControls.Search?.placeholder"></app-reusable-forms>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

             <!-- sort -->
             <app-common-sort [sortOption]="sortOption" (valueChanged)="SortValueChange($event)" (valueChangedOrder)="SortValueChangeOrder($event)"></app-common-sort>

            <!--filter  -->
            <div class="search-filter" ngbDropdown #dropdownContentFilter="ngbDropdown">
                <button tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"
                    ngbTooltip="{{'common.Filter'|translate}}" placement="bottom" (click)="open()" role="button" #tooltip="ngbTooltip" (mouseleave)="tooltip.close()">
                    <img src="assets/imgs/filter.svg" alt="">
                </button>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
                    <h5>{{'common.Filter'|translate}}</h5>
                    <form action="" class="flex">
                        <div class="filter-content">
                            <div *ngFor="let val of _Object.keys(dynamicObjControls);let i=index;trackBy: trackByIndex">
                                <app-reusable-forms *ngIf="val !== 'Search'" [type]="dynamicObjControls[val]?.type"
                                    [control]="dynamicObjControls[val]?.control"
                                    [label]="dynamicObjControls[val]?.label"
                                    [inputId]="dynamicObjControls[val]?.inputId"
                                    [aliasName]="dynamicObjControls[val]?.aliasName"
                                    [placeholder]="dynamicObjControls[val]?.placeholder"></app-reusable-forms>
                            </div>
                        </div>
                        <div class="filter-action">
                            <button class="button-reg btn-sm primary" (click)="applyFilter()">
                                {{'common.apply filters'|translate}}</button>
                            <button class="button-reg btn-sm trans-btn"
                                (click)="filterReset('')">{{'common.reset'|translate}}</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Dynmaic Columns -->
            <app-dynamic-columns [filterColumns]="backupColumns" (selectedColumns)="saveColumns($event)">
            </app-dynamic-columns>
        </div>
    </div>
</header>


<!-- filter -->
<div class="filter-result-row flexx" *ngIf="formValueExists">
    <h4>{{'common.Filter' | translate}}:</h4>
    <ng-container *ngFor="let filter of backupFormValue | keyvalue;trackBy: trackByIndex">
        <div class="filter-result-col" *ngIf="!['',null,undefined].includes(filter.value)">
            <span>{{ filter.key }} : </span>
            {{ filter.value}}
            <a href="javascript:void(0)" (click)="removeFilter(filter)"><img src="assets/imgs/close-sm.svg" alt=""></a>
        </div>
    </ng-container>
    <a href="javascript:void(0)" class="clear" (click)="filterReset('clearAll')">
        {{'common.ClearFilters' |translate}}
    </a>
</div>

<div class="page-content">

    <!--content -->
    <app-alert-content *ngIf="productListArray?.length > 0" [alert]="alertConfig"></app-alert-content>

    <!--Loader -->
    <div class="loading" *ngIf="(orderSandbox.failedOrderListLoading$ | async)">
        <app-loader></app-loader>
    </div>

    <!-- Table -->
    <div class="table-responsive" *ngIf="productListArray.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <!-- <th *ngIf="backupColumns['Sales.allorders.order id']" style="width: 32px;"></th> -->
                    <th class="check-col" *ngIf="backupColumns['Sales.allorders.order id']">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox1"
                                (change)="selectCheckAll($event.target.checked)" [(ngModel)]="selectedAll" />
                        </div>
                    </th>
                    <th *ngIf="backupColumns['Sales.allorders.order id']">{{'Sales.shared.orders id'|translate}}</th>

                    <th *ngIf="backupColumns['Sales.allorders.customer name']">{{'Sales.allorders.customer name'|translate}}</th>
                    <th class="text-right price" *ngIf="backupColumns['Sales.allorders.total amount']">
                        {{'Sales.allorders.total amount'|translate}}</th>
                    <th *ngIf="backupColumns['Sales.failedorders.order ceated']">{{'Sales.failedorders.order ceated'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let array of productListArray; let i = index;">
                    <tr>
                        <!-- (click)="openCloseRow(array.orderId)" -->
                        <!-- <td *ngIf="backupColumns['Sales.allorders.order id']" class="text-center"
                            style="cursor: pointer;padding-right: 0;" >
                            {{array?.name}}
                            <img alt="Close" class="ar-dwn-close lst-xpnd default-icon"
                                *ngIf="rowSelected==array.orderId" src="assets/imgs/caretdown-white.svg"
                                style="width: 13px;" />
                            <img alt="Open" class="lst-xpnd default-icon"
                                *ngIf="rowSelected !== array.orderId" src="assets/imgs/caret-right.svg" />
                        </td> -->

                        <td class="check-col" *ngIf="backupColumns['Sales.allorders.order id']">
                            <div class="form-check" title="Click To Export">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="array.selected"
                                    (change)="checkIfAllSelected()" id="{{ array.orderId }}" />
                            </div>
                        </td>
                        <!-- (click)="openCloseRow(array.orderId)" -->
                        <td *ngIf="backupColumns['Sales.allorders.order id']">
                            <div class="d-flex align-items-center product-details">
                                <span class="avatar avatar-xs online avatar-rounded">
                                    <img alt="Product Image" title="Product Image" *ngIf="array.image"
                                        [src]="imageUrl + '?path=' + array?.containerName + '&name=' + array.image + '&width=50&height=50'"
                                        onError="this.src='assets/imgs/no-image.jpg';">
                                </span>
                                <span (click)="failedOrderDetail(array.vendorOrderId)"  style="cursor: pointer;" class="id fw-medium"> {{array?.orderPrefixId}} </span>
                            </div>
                        </td>
                        <td *ngIf="backupColumns['Sales.allorders.customer name']">{{array?.customerFirstName}}</td>
                        <td class="text-right price " *ngIf="backupColumns['Sales.allorders.total amount']">{{array?.total | currencysymbol}}</td>
                        <td class="text-nowrap" *ngIf="backupColumns['Sales.failedorders.order ceated']">{{array?.createdDate |
                            sellerDynamicDate}}</td>
                    </tr>
                    <tr *ngIf="rowSelected==array.orderId" class="orderidexpand">
                        <td colspan="7">
                            <table class="table cust-tbl">
                                <thead>
                                    <tr style="padding-left: 10px;">
                                        <th style="width: 30%;">{{'Sales.shared.Product Name'|translate}}</th>
                                        <th class="text-center">{{'Sales.shared.Quantity'|translate}}</th>
                                        <th class="text-right">{{'Sales.shared.Price'|translate}}</th>
                                        <th class="text-right">{{'Sales.shared.Discount'|translate}}</th>
                                        <th class="text-right">{{'Sales.shared.Tax'|translate}}</th>
                                        <th class="text-right">{{'Sales.failedorders.Coupon Discount'|translate}}</th>
                                        <th class="text-right">{{'Sales.failedorders.total'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of array.productItems">

                                        <td>
                                            <div class="d-flex align-items-center product-details ">
                                                <span class="avatar avatar-xs online avatar-rounded">
                                                    <img alt="Product Image" title="Product Image" *ngIf="product.image"
                                                        [src]="imageUrl + '?path=' + product?.containerName + '&name=' + product.image + '&width=50&height=50'"
                                                        onError="this.src='assets/imgs/no-image.jpg';">
                                                </span>
                                                <h4>{{product.productName}}</h4>
                                            </div>
                                        </td>
                                        <td class="text-center">{{product.quantity}}</td>
                                        <td class="text-right">{{product.productPrice | currencysymbol}}</td>
                                        <td class="text-right">{{product.discountAmount | currencysymbol}}</td>
                                        <td class="text-right">{{product.taxValue | currencysymbol}}
                                            <span *ngIf="product.taxValue == 0">0</span>
                                        </td>
                                        <td class="text-right">{{product.discountedAmount | currencysymbol}}</td>
                                        <td class="text-right">{{product.total | currencysymbol}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
    </div>

    <!--No data found -->
    <div class="nodata flexx" *ngIf="(orderSandbox.failedOrderList$ | async)?.length === 0 && (orderSandbox.failedOrderListLoaded$| async)">
        <span><img src="assets/imgs/nodata.svg" alt=""></span>
        <h4>
            <ng-container *ngIf="formValueExists; else nodatafound">
                {{'common.NoDataAvailablefortheFilteredCriteria'|translate}}
            </ng-container>
            <ng-template #nodatafound>
                {{'Sales.failedOdered.Nofailedordersareadded!'|translate}}
            </ng-template>
        </h4>
    </div>

    <!--Pagination -->
    <app-reusable-pagination  [ngClass]="{'disable-div':filterData?.length>0}"  [ngClass]="{'disable-div':filterData?.length>0}"*ngIf="count > 0" class="pagination flexx" [currentPage]="currentPage" [pageSize]="limit"
        [totalItems]="count" (pageChange)="onPageChange($event)">
    </app-reusable-pagination>

</div>

<!-- bulk action -->
<app-bulk-action *ngIf="filterData?.length>0" [count]="filterData?.length" [bulkList]="bulkAction"
    (actionEvent)="actionType($event)"></app-bulk-action>