
<div >
    <header class="static-page" >
        <h2>Manage Stock Levels Efficiently for Each Product Variant</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Streamline your inventory management with the Variant Stock Update Addon, allowing sellers to update stock levels for each product variant individually.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Separate Stock Management for Variants :
                    </span>
                    Sellers can specify stock levels for each variant, ensuring accurate inventory tracking even for similar products.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Out of Stock Threshold Notifications : 
                    </span>
                    Set a threshold to receive notifications when stock levels fall below a specified quantity, helping maintain inventory levels.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Customizable Cart Quantity Limits : 
                    </span>
                    Define minimum and maximum quantities allowed in the cart for each variant, enhancing customer purchasing control.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Back Order Management : 
                    </span>
                    Enable back orders and specify the quantity available for back order, allowing customers to place orders for out-of-stock variants.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/variants.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Variant Stock Update Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price : $10</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Separate Stock Management for Variants</li>
                    <li class="QA-para">Out of Stock Threshold notifications</li>
                    <li class="QA-para">Customizable Cart Quantity Limits</li>
                    <li class="QA-para">Back Order Management</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://www.spurtcommerce.com" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://www.spurtcommerce.com" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 22 Oct 25, 10:00 am
                </p>
            </div>
    
            <a href="https://www.spurtcommerce.com" class="QA-btn"  target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



