
<div>
    <!-- Long Descriptive Title -->
    <header class="static-page" >
        <h2>Recover Lost Sales with the Abandoned Cart Addon</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <!-- Small Description-->
            <h1 class="addon-head">
                Minimize lost sales with the Abandoned Cart Addon, which tracks customer activity and allows admins to engage customers who have left items in their carts.
            </h1>
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Live Cart Monitoring :
                    </span>
                    View products added by customers in real time, with a window of 24 hours to track potential purchases.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Automatic Abandonment Tracking : 
                    </span>
                    After 24 hours, items will transition from the live cart to the abandoned cart, allowing for targeted follow-up.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Customer Engagement via Email : 
                    </span>
                    Admins can easily send reminder emails to customers about their abandoned carts, encouraging them to complete their purchases.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Increased Recovery Rate : 
                    </span>
                    Enhance your sales potential by converting abandoned carts into completed transactions through effective communication.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/cart.svg" alt="Q&A">
                </div>
    
                <!-- Short Title -->
                <div class="QA-head">
                    <h2>Abandoned Cart Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price :  <a href="https://spurtcommerce.com/extension/b2csolutions/abandoned-cart" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <!-- Highlights -->
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Live Cart Monitoring</li>
                    <li class="QA-para">Automatic Abandonment Tracking</li>
                    <li class="QA-para">Customer Engagement via Email</li>
                    <li class="QA-para">Increased Recovery Rate</li>
                </ul>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/abandoned-cart" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 22 Oct 23, 10:30 am
                </p>
            </div>
            <a href="https://spurtcommerce.com/extension/b2csolutions/abandoned-cart" class="QA-btn"  target="_blank">
                Buy Now
            </a>

        </div>
    
    </section>
</div>



