<div class="auth-wrapper">

    <div class="auth-content">
        <div class="logo"> <img [src]="logoPath"  alt=""> </div>
        <div class="auth-content-row">
            <img src="assets/imgs/auth-img.svg" />
            <h1>{{'Login.LoginHeadtxt' | translate}}</h1>
            <ul>
                <li>{{'Login.LoginDetail1' | translate}}</li>
                <li>{{'Login.LoginDetail2' | translate}}</li>
                <li>{{'Login.LoginDetail3' | translate}}</li>
                <li>{{'Login.LoginDetail4' | translate}}</li>
                <li>{{'Login.LoginDetail5' | translate}}</li>
            </ul>
            
        </div>
    </div>

    <div class="auth-form">
                
        <div class="auth-form-innr">
            <ng-container>
                <ng-container>
                    <form [formGroup]="setPasswordForm" (ngSubmit)="recoverPassword(setPasswordForm)" autocomplete="off">
                        <div class="auth-form-top">
                            <h2>Reset Password</h2>
                        </div>
                        <div class="recover-form">    
                            <div class="did-floating-label-content mb-24">
                                <input passwordshow class="did-floating-input" placeholder="" (keydown.space)="$event.preventDefault()" formControlName="password" type="password" minlength="8" required [ngClass]="{validationcolor:setPasswordForm.controls.password.hasError('required') && submitted }">
                                <label class="did-floating-label">{{'common.Password'|translate}} <sup>*</sup></label>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('required') && submitted">{{'common.Password is required'|translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('minlength') && submitted">{{'common.Must be at least 8 characters long'|translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('hasCapitalCase') || setPasswordForm.controls['password'].hasError('hasSmallCase') && submitted">{{'common.Password must contain at least one lowercase and one uppercase letter'|translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('hasNumber') || setPasswordForm.controls['password'].hasError('hasSpecialCharacter') && submitted">{{'common.Password must contain at least one symbol and one number'|translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('maxlength') && submitted">{{'common.Password should not more than 50 characters'|translate}}</div>                                
                            </div>
                            <div class="did-floating-label-content mb-24">
                                <input passwordshow class="did-floating-input" placeholder="" (keydown.space)="$event.preventDefault()" maxlength="50" formControlName="confirmPassword" type="password" required [ngClass]="{validationcolor:setPasswordForm.controls.confirmPassword.hasError('required') && submitted }">
                                <label class="did-floating-label">{{'common.Confirm Password'|translate}} <sup>*</sup></label>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['confirmPassword'].hasError('required') && submitted">{{'common.Confirm password is required'|translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['confirmPassword'].hasError('mismatchedPasswords') && submitted">{{'common.Password does not match'|translate}}</div>                                
                            </div>
    
                            
                                <button class="button-reg primary" type="button" (click)="recoverPassword(setPasswordForm)">
                                    <span>{{'common.Submit'|translate}}</span>
                                </button>
                        </div>
                    </form>
                </ng-container>
                <ng-template #expriedToken>
                    <div class="recover-form">
                        <span class="pwd-title pwd-link-expired">
                            {{'common.Link have already been used'|translate}}
                        </span>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </div>

</div>