<div class="add-delivery">
    <img alt="Manage Delivery Staff" title="Manage Delivery Staff" src="assets/imgs/close.svg" class="close cursor" (click)="close()">
    <span class="head">{{'Shared.adddelivery.ManageDeliveryStaff'|translate}}</span>
    <div class="main-content flex">
        <div class="content-left">
            <span class="add-title"> {{'Shared.adddelivery.AddNewDeliveryStaff'|translate}}</span>
            <div class="cp-lft">

                <div class="cp-group mb50">
                    <p>{{'Shared.adddelivery.Name'|translate}}</p>
                    <input type="text" class="input-fields">
                    <label class="switch cursor">
                        <input type="checkbox" type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="cp-group mb50">
                    <p>{{'Shared.adddelivery.MobileNumber'|translate}}</p>
                    <input type="text" class="input-fields">
                </div>
                <div class="cp-group mb50">
                    <p>{{'Shared.adddelivery.UserName'|translate}}</p>
                    <input type="text" class="input-fields">
                </div>

                <div class="cp-group mb50">
                    <p>{{'Shared.adddelivery.Password'|translate}}</p>
                    <input type="text" class="input-fields" (keydown.space)="$event.preventDefault()">
                </div>
                <div class="flex btn-flex">
                    <button class="ripple add"><span>{{'Shared.adddelivery.AddStaff'|translate}}</span></button>
                    <button class="ripple reset"><span>{{'Shared.adddelivery.Reset'|translate}}</span></button>
                </div>
            </div>
        </div>

        <div class="content-right">
            <span class="title">{{'Shared.adddelivery.52DeliveryStaffs'|translate}}</span>
            <div class="content">
                <input type="text" class="search" placeholder="{{'common.DeliveryPersonName' | translate}}">
                <table class="table">
                    <tr>
                        <td class="img">
                            <img alt="Profile" title="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img title="Profile" alt="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img title="Profile" alt="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img title="Mobile" alt="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img title="Profile" alt="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img title="Profile" alt="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img title="Profile" alt="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img alt="Profile" title="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img alt="Profile" title="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <img title="Profile" alt="Profile" class="cursor" src="assets/imgs/profile-pic.png">
                        </td>
                        <td class="name">{{'Shared.adddelivery.LeoKnight'|translate}}
                        </td>
                        <td class="mobile">
                            <img alt="Mobile" title="Mobile" class="cursor" src="assets/imgs/call.svg"> 9845877125
                        </td>
                        <td class="order-detail"> <label class="switch cursor">
                            <input type="checkbox" type="checkbox">
                            <span class="slider"></span>
                        </label></td>
                        <td>
                            <img title="Edit" alt="Edit" class="cursor" src="assets/imgs/edit-dark.svg">
                        </td>
                        <td>
                            <img title="Delete" alt="Delete" class="cursor" src="assets/imgs/delete.svg">
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>