<div class="setup-wrapper">
    <app-breadcrumb></app-breadcrumb>
    <!-- product-Seo  -->
    <div class="setup-container  localization-container editprofile-container" style="padding: 16px;">
        <div class="setup-right">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link bg-transparent" [routerLink]="['/../../editprofile']"> <span> {{'Profile.user.Profile' | translate}} </span> </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link bg-transparent active" [routerLink]="['/../../change-password']"> <span> {{'Profile.user.Password' | translate}} </span> </a>
                </li>
            </ul>

            <div class="set-lay-notes mt-3 flex">
                <h4>{{'common.Note'| translate}} :</h4>
                <p>{{'common.Here, the admin can change the password as per the password policies. It is recommended that the admin changes password time to time in order keep their panel secured, without giving any room for guessing by any third party.'| translate}}</p>
            </div>

            <form>
                <div class="flex editprofilerow">
                    <form novalidate (ngSubmit)="onSubmit(changePassword.value)" [formGroup]="changePassword" class="form-horizontal epr-frm-pwd">
                        <div class="epr-frm">
                            <div class="suprs-form">
                                <div class="form-group ">
                                    <label>{{'Profile.user.CurrentPassword' | translate}} <a href="javascript:void(0)">
                                         </a>  </label>
                                    <div class="" style="position: relative;">
                                        <input [(ngModel)]="oldPSW" required minlength="8" type="password" formControlName="oldPSW" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPSW.errors }" placeholder="{{'placeholder.Current Password'|translate}}" aria-label="Current Password" aria-describedby="basic-addon1"
                                            (keydown.space)="$event.preventDefault()" passwordshow>
                                        <div *ngIf="submitted && f.oldPSW.errors" class="invalid-feedback">
                                            <div *ngIf="f.oldPSW.errors.required">{{'Profile.Error.OldPasswordisrequired' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="suprs-form">
                                <div class="form-group">
                                    <label>{{'Profile.user.NewPassword' | translate}} <a href="javascript:void(0)"> 
                                    </a>  </label>
                                    <div class="" style="position: relative;">
                                        <input [(ngModel)]="newPSW" required minlength="5" type="password" formControlName="newPSW" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPSW.errors }" placeholder="{{'placeholder.New Password'|translate}}" aria-label="New Password" aria-describedby="basic-addon2"
                                            (keydown.space)="$event.preventDefault()" passwordshow>
                                        <div class="invalid-feedback" *ngIf="submitted && changePassword.controls['newPSW'].hasError('required')">
                                            {{'Settings.User.Error.Passwordisrequired' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('minlength')">
                                            {{'Settings.User.Error.Mustbeatleast8characters' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('hasNumber')">
                                            {{'Settings.User.Error.Musthaveatleast1numberorSymbol' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('hasCapitalCase')">
                                            {{'Settings.User.Error.Mustcontainatleast1inCapitalCase' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('hasSmallCase')">
                                            {{'Settings.User.Error.Mustcontainatleast1inSmallCase' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="suprs-form">
                                <div class="form-group">
                                    <label>{{'Profile.user.ConfirmPassword' | translate}}  <a href="javascript:void(0)"> 
                                     </a>  </label>
                                    <div class="" style="position: relative;">
                                        <input [(ngModel)]="confirmPSW" required minlength="5" type="password" formControlName="confirmPSW" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPSW.errors }" placeholder="{{'placeholder.Confirm Password'|translate}}" aria-label="Confirm Password"
                                            aria-describedby="basic-addon2" (keydown.space)="$event.preventDefault()" passwordshow>
                                        <div *ngIf="submitted && f.confirmPSW.errors" class="invalid-feedback">

                                            <div *ngIf="f.confirmPSW.errors.required">{{'Profile.Error.ConfirmPassword' | translate}}
                                            </div>
                                            <div *ngIf="f.confirmPSW.errors.mismatchedPasswords">{{'Customers.Error.ConfirmpasswordIsMismatch'| translate}} </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button-container flex">
                                <button class="button-reg btn-md tertiary"[routerLink]="['/dashboard']" routerLinkActive="router-link-active">{{'Settings.Local.Country.Cancel' | translate}} </button>
                                <button class="button-reg btn-md primary"> {{'Settings.Local.Save' | translate}} </button>
                             </div>
                        </div>
                        <!-- center -->
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>