<div >
    <header>
        <h1>Manage Product Variants for a Better Shopping Experience</h1>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen loop>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Optimize your product offerings with the Product Variants Addon, allowing you to manage different options for each product effortlessly.
            </h1>
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Customizable Options : 
                    </span>
                    Define various options for your products, such as size, color, and style, to cater to diverse customer needs.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Efficient Inventory Management :
                    </span>
                    Track inventory for each variant separately, ensuring you maintain optimal stock levels.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Improved User Experience :
                    </span>
                    Allow customers to easily select their desired options, enhancing their shopping experience.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Flexible Pricing : 
                    </span>
                    Set unique prices for each variant to reflect differences in features or specifications.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/images/variants.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2> Product Variants Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead"> Pricing</h3>
                <p class="QA-para">Price : <a href="https://spurtcommerce.com/extension/b2csolutions/product-variant" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Customizable Options</li>
                    <li class="QA-para">Efficient Inventory Management</li>
                    <li class="QA-para">Improved User Experience</li>
                    <li class="QA-para">Flexible Pricing</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/images/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/product-variant" class="QA-lnk" target="_blank"> 
                    <img src="assets/images/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 21 Oct 24, 3:30 pm
                </p>
            </div>
            <a href="https://spurtcommerce.com/extension/b2csolutions/product-variant" class="QA-btn" target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>
