
.loading {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.dropdown-menu .txt-hed{
    font-size: .875rem;
    font-weight: 500;
    color: #353740;
    text-transform: uppercase;
  }
.remove-btn{
    border: none;
}