
<div >
    <header class="static-page" >
        <h2>Streamline Communication Between Admin and Sellers with the Chat Feature</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Enhance communication between the admin and sellers with the real-time chat feature, allowing for seamless interaction and notifications.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Real-Time Messaging :
                    </span>
                    Admins and sellers can exchange messages in real-time, improving communication and resolving issues quickly.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Notifications for Both Parties : 
                    </span>
                    Both admin and sellers receive notifications when there’s a new message, ensuring timely responses.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Searchable Seller List : 
                    </span>
                    Admins can easily search for a seller based on group, company, or other criteria and start a conversation.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Intuitive Chat Window for Seamless Interaction : 
                    </span>
                    The chat interface is designed for ease of use, allowing users to navigate conversations effortlessly.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Seller Profile Display : 
                    </span>
                    While chatting, admins can view seller details, such as their profile, seller group, and display name, for better context during conversations.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/chat.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Admin Chat Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price : 
                    <a href="https://spurtcommerce.com/extension/b2csolutions/admin-seller-chat-addon" class="QA-lnk clickme" target="_blank">
                        <span>
                            Click for more details
                        </span>
                    </a>
                </p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Real-Time Messaging</li>
                    <li class="QA-para">Notifications for Both Admin and Sellers</li>
                    <li class="QA-para">Searchable Seller List</li>
                    <li class="QA-para">Intuitive Chat Window for Seamless Interaction</li>
                    <li class="QA-para">Seller Profile Information Display</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/admin-seller-chat-addon" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 22 Oct 26, 10:00 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/admin-seller-chat-addon" class="QA-btn"  target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



