<div class="flex filter-row">
  <div class="filter-lft">
    <h2> {{"marketplace.common.payment" |translate}}({{ (paymentSandbox.getPaymentListCount$ | async) }})</h2>
  </div>

  <div class="filter-rht flex">

    <!-- filter -->
    <div class="added-filter flex" *ngFor="let filter of backupFormValue | keyvalue;trackBy: trackByIndex">
      <div class="added-filter-col flex filter-detail" *ngIf="!empty.includes(filter.value)">
        <span>{{ filter.key }} : {{ filter.value}} </span>
        <button (click)="removeFilter(filter)">
          <img src="assets/img/close.svg" alt="" />
        </button>
      </div>
    </div>

    <!--search filter -->
    <div class="filter-search">
      <form class="" (keyup.enter)="applyFilter()">
        <app-common-form [type]="dynamicObjControls?.Search?.type" [control]="dynamicObjControls?.Search?.control"
          [label]="dynamicObjControls?.Search?.label" [inputId]="dynamicObjControls?.Search?.inputId"
          [aliasName]="dynamicObjControls?.Search?.aliasName" [placeholder]="dynamicObjControls?.Search?.placeholder">
        </app-common-form>
      </form>
    </div>

    <!--filter  -->
    <div class="dropdown filter-dropdown" ngbDropdown #myDropdown="ngbDropdown" [autoClose]="false">
      <button class="button-reg tertiary btn-sm" ngbDropdownToggle>
        <img src="assets/img/filter.svg" alt="">
        {{'marketplace.common.Filters' | translate}}
      </button>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
        <h4> {{'marketplace.common.QuickFilter' | translate}} </h4>
        <form class="filter-form">
          <div *ngFor="let val of _Object.keys(dynamicObjControls);let i=index;trackBy: trackByIndex">
            <app-common-form *ngIf="val !== 'Search'" [type]="dynamicObjControls[val]?.type"
              [control]="dynamicObjControls[val]?.control" [label]="dynamicObjControls[val]?.label"
              [inputId]="dynamicObjControls[val]?.inputId" [aliasName]="dynamicObjControls[val]?.aliasName"
              [placeholder]="dynamicObjControls[val]?.placeholder" [customData]="dynamicObjControls[val]?.customData">
            </app-common-form>
          </div>
          <div class="filter-btn flex">
            <button class="button-reg btn-sm primary" (click)="applyFilter()">
              {{'marketplace.common.ApplyFilter' | translate}}
            </button>
            <button class="button-reg btn-sm tertiary" (click)="filterReset('')">
              {{'marketplace.common.Reset' | translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="flex product-wrap example-full-width">
  <div class="product-table">

    <!--Loader -->
    <div class="spinner-wrapper">
      <app-global-loader [isShow]="paymentSandbox.getPaymentListLoading$ | async"
        style="transform: translate(38%, 50%);position:absolute">
      </app-global-loader>
    </div>
    <div class="table-responsive">

      <!-- common -table -->
      <app-common-table [customTemplate]="{pennding:itemTemplateRef,price:itemTemplateRef1}" [HeadArray]="customTable"
        [GridArray]="paymentList" (buttonChangeEvent)="buttonAction($event)" [selectAll]="tableCheckbox">
      </app-common-table>
      <ng-template #itemTemplateRef let-item let-index="index">
        <span class="tags-action tags-approved Approved">
          {{'marketplace.common.Approved' | translate}}
        </span>
      </ng-template>

      <ng-template #itemTemplateRef1 let-item let-index="index">
        <ng-container>
          <span [matTooltip]="item.price"> {{item.price}} </span>
        </ng-container>
      </ng-template>

      <!--No data found -->
      <div class="nodata-found" *ngIf="(paymentSandbox.getPaymentListLoaded$)  && paymentList.length == 0">
        <span> <img src="assets/imgs/nodatafound.svg" alt=""> </span>
        <h5>{{'marketplace.payments.DataNotFound'| translate}}</h5>
      </div>

      <!--pagination -->
      <div class="pagination flex"
        *ngIf="(paymentSandbox.getPaymentListLoaded$) && (paymentSandbox.getPaymentListCount$ | async) > 10">
        <app-reusable-pagination [type]="'numbers'" [currentPage]="currentPage"
          [totalItems]="paymentSandbox.getPaymentListCount$ | async" [pageSize]="limit"
          (pageChange)="onPageChange($event)">
        </app-reusable-pagination>
      </div>
    </div>
  </div>
</div>

<!-- Bulk Action -->
<app-bulk-action *ngIf="selectedDatas?.length > 0" [count]="selectedDatas?.length" [bulkList]="bulkAction"
  (actionEvent)="actionType($event)"></app-bulk-action>