<section class="login-container">

    <div class="login-grd">
        <div class="text-center">
            <img src="assets/imgs/logo-marketplace.svg" alt="logo">
        </div>
        <div></div>
        <div class="login-grd span-2">
            <div class="welcome-content">
                <h1>Welcome</h1>
                <p>A quick and easy Node.js and Angular eCommerce solution for developing an awesome e-commerce
                    website</p>
                <div class="welcome-image">
                    <!-- <img src="img/welcome-image.png" alt="welcome image"> -->
                </div>
            </div>
            <div class="login-form">

                <router-outlet></router-outlet>

            </div>
        </div>


    </div>

</section>





<!-- <div class="marg">
    <div class="login">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <img [src]="logoImage" alt="login" class="spurt-img">
                <div class="txt">{{'common.A quick and easy Node JS and Angular eCommerce solution to develop an awesome e-commerce Website'| translate}}</div>
            </div>
            <div class="col-md-5 col-sm-6">
                <router-outlet></router-outlet>

            </div>
        </div>

    </div>
    <div class="ttt">{{'common.Spurt Commerce E-solutions Private Limited. © 2023. All Rights Reserved'| translate}}</div>
</div> -->