<div class="static-wrapper">
    <div class="static-content">
        <div class="left-static">
            <div class="static-banner">
                <img src="assets/imgs/static-banner.png" alt="...">
            </div>
            <div class="left-details">
                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt</li>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt</li>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt</li>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt</li>

                </ul>
            </div>
            <div class="left-content">
                <div class="left-list">
                    <h3>Developer</h3>
                    <p> English, Danish, German, French, Chinese (Simplified), Chinese (Traditional), Italian,
                        Japanese, Spanish, Swedish, Finnish, Czech, Portuguese (Portugal), Dutch, Korean,
                        Norwegian, Polish, Portuguese (Brazil), Thai, Turkish, and Vietnamese</p>
                </div>
                <div class="left-list">
                    <h3>Works with</h3>
                    <p>Shop app, Shop Pay, Shop Promise, Shop Minis</p>
                </div>
                <div class="left-list">
                    <h3>Categories</h3>
                    <p> <a href="javascript:void(0)">Marketplaces </a> , <a href="javascript:void(0)">Selling online - Other</a></p>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="right-details">
                <div class="top-head">
                    <div class="img-load">                            
                        <img src="assets/imgs/logo-load.svg" alt="...">
                    </div>
                    <h5>Dashboard</h5>
                </div>
                <div class="right-list">
                    <div class="right-list-details">
                        <h3>Pricing</h3>
                        <p>Price: Free</p>
                    </div>
                    <div class="right-list-details">
                        <h3>Highlights</h3>
                        <div class="highlight-content">
                            <div class="highlight-details">
                                <img src="assets/imgs/tick-green.svg" alt="">
                                <p>Popular with businesses in India</p>
                            </div>
                            <div class="highlight-details">
                                <img src="assets/imgs/tick-green.svg" alt="">
                                <p>Use directly in Spurt admin</p>
                            </div>
                            <div class="highlight-details">
                                <img src="assets/imgs/tick-green.svg" alt="">
                                <p>Works with the latest themes</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-list-details">
                        <h3>Developer</h3>
                        <p>Spurtcommerce</p>
                    </div>
                    <a href="javascript:void(0)" class="button-buy">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>