
<div >
    <header class="static-page" >
        <h2>Gather Customer Feedback with Ratings and Reviews</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Enhance your storefront's credibility with the Ratings and Review Addon, allowing customers who have purchased products to submit their feedback.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Customer-Submitted Ratings :
                    </span>
                    Customers can easily rate their purchased products, providing valuable insights for potential buyers.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Seller Control over Visibility : 
                    </span>
                    Sellers have the option to enable or disable the display of ratings and reviews, allowing them to manage their product's public perception.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Comprehensive Feedback Collection : 
                    </span>
                    Gather detailed feedback that helps improve products and services based on real customer experiences.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Enhanced Trust and Credibility : 
                    </span>
                    Build trust with new customers by showcasing authentic reviews and ratings from previous buyers, influencing their purchasing decisions.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/ratings.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Ratings and Review Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
              <p class="QA-para">Price :  <a href="https://spurtcommerce.com/extension/b2csolutions/ratings-and-review-addon" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Customer-Submitted Ratings</li>
                    <li class="QA-para">Seller Control over Visibility</li>
                    <li class="QA-para">Comprehensive Feedback Collection</li>
                    <li class="QA-para">Enhanced Trust and Credibility</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/ratings-and-review-addon" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 23 Oct 24, 10:40 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/ratings-and-review-addon" class="QA-btn"  target="_blank">
                Buy Now
            </a>

        </div>
    
    </section>
</div>



