<div class="style">
  <div class="modal-header">
    <h6 class="modal-title">
      {{'Shared.adddelivery.Doyouwanttodelete'|translate}}
    </h6>
  </div>

  <div class="modal-footer">
    <button (click)="clear()"
      type="button"
      class="btn btn-danger"
      data-dismiss="modal"
    >
       {{'Shared.adddelivery.No'|translate}}
    </button>
    <button (click)="deleteData()"
      type="button"
      class="btn btn-success"
      data-dismiss="modal"
    >
       {{'Shared.adddelivery.Yes'|translate}}
    </button>
  </div>
</div>