<div class="import-innr-header">
    <h3>Data Migration</h3>
    <ul class="flex">
        <li class="active completed"> <span> <img src="assets/imgs/tick-green.svg" alt=""> </span> <p>Upload File</p> </li>
        <li class="active completed"> <span> <img src="assets/imgs/tick-green.svg" alt=""> </span> <p>Field Mapping</p> </li>
        <li class="active completed"> <span> <img src="assets/imgs/tick-green.svg" alt=""> </span> <p>Review</p> </li>
        <li class="active"> <span>4</span> <p>Finish</p> </li>
    </ul>
</div>

<div class="field-mapping">
    <div class="migration-success flex">
        <div class="migration-success-flow flex">
            <img src="assets/imgs/file-green.svg" alt="">
            <img src="assets/imgs/check-green-round.svg" alt="">
            <img src="assets/imgs/logo-spurt.svg" alt="">
        </div>
        <div class="migration-success-flow migration-usuccess-flow flex">
            <img src="assets/imgs/file-green.svg" alt="">
            <img src="assets/imgs/close-red.svg" alt="">
            <img src="assets/imgs/logo-spurt.svg" alt="">
        </div>
        <p>The migration has been completed successfully!</p>
        <p>You can now start using the CRM</p>
        <button class="button-reg primary"> Get Started </button>
    </div>
    <div class="field-mapping-wrap">        
        <div class="product-table">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Uploaded Date</th>
                            <th>Total No.Data</th>
                            <th>Mapped Fields</th>
                            <th>Unmapped Fields</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Import Leads - file_example_XLS_10.xls</td>
                            <td>03-12-2023</td>
                            <td>1000</td>
                            <td>800</td>
                            <td>200</td>
                            <td>Completed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
