.field-mapping {
    padding: 1.125rem;
    h4 {
        color: #222;
        font-size: 0.875rem;
        font-weight: 600;
        margin: 0 0 1rem;
    }
    .field-mapping-innr-title {
        margin-bottom: 1.125rem;
        p {
            max-width: 60%;
            color: #222;
            font-size: 0.875rem;
            font-weight: 400;
            margin: 0;
        }
    }
    .field-mapping-wrap {
        
    }
}