
<div >
    <header>
        <h1>Streamline Your Supplier Relationships and Contact Management</h1>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                The Supplier Management Addon allows for efficient management of suppliers and their contacts, facilitating better organization and communication.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Add and Manage Suppliers :
                    </span>
                    Easily add new suppliers to your system and manage their details in one central location.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Simplified Communication : 
                    </span>
                    Streamline interactions with suppliers through organized contact information and management tools.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Enhanced Supplier Collaboration :
                    </span>
                    Foster better relationships with suppliers by having all necessary information readily available, improving collaboration and efficiency.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/images/supplier-management.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Supplier Management Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price : <a href="https://spurtcommerce.com/extension/b2bsolutions/supplier-management" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Add and Manage Suppliers</li>
                    <li class="QA-para">Contact Mapping for Better Organization</li>
                    <li class="QA-para">Simplified Communication</li>
                    <li class="QA-para">Enhanced Supplier Collaboration</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/images/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2bsolutions/supplier-management" class="QA-lnk"  target="_blank">
                    <img src="assets/images/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 21 Oct 24, 10:30 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2bsolutions/supplier-management" class="QA-btn" target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



