/* Hide the increase button */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Optional */
}

/* Optional: Ensure consistency across browsers */
input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.error_image {
    border: 1px solid red;
}



.disabled{
    pointer-events: none;
    opacity: 0.7;
}
.loading {
    // margin-top: 5%;
    display: flex;
    justify-content: center;
}