<div class="error-box">
    <div class="error-body text-center">
        <h1 class="error-title text-danger">404</h1>
        <h3 class="text-uppercase error-subtitle">{{'Customers.Error.PAGENOTFOUND'| translate}}</h3>
        <p class="text-muted m-t-30 m-b-30">{{'Customers.Error.YOUSEEMTOBETRYINGTOFINDHISWAYHOME' | translate}}</p>
        <a href="#/dashboard/classic" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">{{'Customers.Error.Backtohome' | translate}}</a> 
    </div>
</div>