<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <style>
        @media only screen and (max-width: 600px) {
            .inner-table {
                padding: 40px 16px !important;
            }
        }
    </style>
</head>

<body style=" font-family: 'Inter', sans-serif;margin: 0;padding: 0;">
    <table width=" 100%" cellpadding="0" cellspacing="0" role="presentation" style="background-color: #F9F9F9;">
        <tbody>
            <tr>
                <td style="padding:40px 16px 40px 16px; ">

                    <table style="max-width:  744px; margin:0 auto; ">
                        <tr>
                            <td>
                                <table width=" 100%" cellpadding="0" cellspacing="0" role="presentation"
                                    style="background-color: #FFFFFF; padding: 40px 32px;" class="inner-table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding-bottom:40px;">
                                                                <img src="logo.png" alt="logo" style="width: 152px;
                                                                height: 40px;">
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td
                                                                style="padding: 40px 0; border-width: 1px 0 1px 0; border-color:#D8DEE3; border-style: solid;">
                                                                <h1
                                                                    style="font-size: 24px; line-height: 29px; font-weight: 600;margin: 0 0 12px 0;color:#1F2328;">
                                                                    Hi Jacquelyn Goyette,</h1>
                                                                <p
                                                                    style="font-size: 16px; line-height: 24px;color: #1F2328;font-weight: normal;margin: 0 0 24px 0;">
                                                                    Use the following one-time password (OTP) to sign in
                                                                    to your
                                                                    Spurtcommerce account. This OTP will be valid for 15
                                                                    minutes
                                                                    till 01 Apr 2024 06:15 PM.</p>
                                                                <h2
                                                                    style="font-size: 22px; font-weight: bold;line-height: 26px;color: #1F2328;margin: 0 0 32px 0;">
                                                                    17742714</h2>
                                                                <p
                                                                    style="font-size: 16px; line-height: 24px;color: #1F2328;font-weight: normal;margin: 0 0 26px 0;">
                                                                    If you didn’t mean to make this request, just ignore
                                                                    the email,
                                                                    and we’ll forget this ever happened. 😉</p>
                                                                <p
                                                                    style="font-size: 14px;line-height: 17px;color: #1F2328; margin: 0 0 5px 0;  font-weight: normal;">
                                                                    Regards,</p>
                                                                <h3
                                                                    style="font-size: 14px;line-height: 17px;color: #1F2328; margin: 0 0 5px 0;  font-weight: 600;">
                                                                    Spurtcommerce
                                                                    Team</h3>
                                                                <p
                                                                    style="font-size: 14px;line-height: 17px;color: #1F2328; margin: 0 0 0 0;  font-weight: normal;">
                                                                    www.spurtcommerce.com</p>
                                                            </td>
                                                        <tr>
                                                            <td align="center" style="padding: 40px 0 0 0;">
                                                                <a href="javascript:void(0)"
                                                                    style="display: inline-block;background-color: #529551;border-radius: 50%;width: 24px;height: 24px; text-align: center;">
                                                                    <img src="facebook.png" alt="facebook"
                                                                        style="width: 15px;height: 15px; vertical-align: middle;padding: 4.5px;"></a>
                                                                <a href="javascript:void(0)"
                                                                    style="display: inline-block;background-color: #529551;border-radius: 50%;width: 24px;height: 24px; text-align: center;margin-left:12px;"><img
                                                                        src="linkedin.png" alt="instagram"
                                                                        style="width: 15px;height: 15px; vertical-align: middle;padding: 4.5px"></a>
                                                                <a href="javascript:void(0)"
                                                                    style="display: inline-block;background-color: #529551;border-radius: 50%;width: 24px;height: 24px; text-align: center;margin-left:12px;"><img
                                                                        src="x.png" alt="x"
                                                                        style="width: 15px;height: 15px; vertical-align: middle;padding: 4.5px"></a>
                                                                <a href="javascript:void(0)"
                                                                    style="display: inline-block;background-color: #529551;border-radius: 50%;width: 24px;height: 24px; text-align: center;margin-left:12px;"><img
                                                                        src="youtube.png" alt="youtube"
                                                                        style="width: 15px;height: 15px; vertical-align: middle;padding: 4.5px"></a>
                                                                <a href="javascript:void(0)"
                                                                    style="display: inline-block;background-color: #529551;border-radius: 50%;width: 24px;height: 24px; text-align: center;margin-left:12px;"><img
                                                                        src="instagram.png" alt="instagram"
                                                                        style="width: 15px;height: 15px; vertical-align: middle;padding: 4.5px"></a>
                                                                <p
                                                                    style="color: #000000;font-size:14px; line-height:21px;font-weight:normal;margin:16px 0 0 0;">
                                                                    Spurtcommerce, 16 West Martin Street, Raleigh, NC
                                                                    27601, USA.
                                                                </p>
                                                            </td>
                                                        </tr>

                                        </tr>

                                    </tbody>
                                </table>
                            </td>


                        </tr>


        </tbody>
    </table>
    </td>
    </tr>


    <tr>
        <td>
            <table width=" 100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td align="center">
                        <a href="javascript:void(0) "
                            style="font-size: 12px; display: inline-block; text-decoration: none; line-height: 20px; color: #A5A5A5; font-weight: normal; text-align: center; padding:24px 0 44px 0;margin: 0;">
                            To
                            unsubscribe from these mailings, you may opt out here.</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    </table>



    </td>
    </tr>



    </tbody>
    </table>
</body>

</html>