<mat-card>
    <div class="body-section">
        <ng-container>
            <ng-container>
                <form [formGroup]="setPasswordForm" (ngSubmit)="recoverPassword(setPasswordForm)" autocomplete="off">
                    <div class="recover-form">
                        <span class="pwd-title">{{'Profile.Login.ResetPassword' | translate}}</span>

                        <div class="data-col">
                            <div class="form-group" style="position:relative">
                                <label>{{'Profile.Login.Password' | translate}}<sup>*</sup> </label>
                                <input style="padding-right: 36px;" class="form-control" placeholder="{{'placeholder.Password'|translate}}" formControlName="password" type="password" passwordshow minlength="8" required [ngClass]="{validationcolor:setPasswordForm.controls.password.hasError('required') && submitted }" (keydown.space)="$event.preventDefault()">
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('required') && submitted">{{'Profile.Login.Passwordisrequired' | translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('minlength') && submitted">{{'Profile.Login.Mustbeatleast8characterslong'| translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('hasCapitalCase') || setPasswordForm.controls['password'].hasError('hasSmallCase') && submitted">{{'Profile.Login.Passwordmustcontainatleastonelowercaseandoneuppercaseletter' | translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('hasNumber') || setPasswordForm.controls['password'].hasError('hasSpecialCharacter') && submitted">{{'Profile.Login.Passwordmustcontainatleastonesymbolandonenumber' | translate}}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('maxlength') && submitted">{{'Profile.Login.Passwordshouldnotmorethan50characters' | translate}}</div>
                            </div>
                        </div>

                        <div class="data-col">
                            <div class="form-group" style="position:relative">
                                <label>{{'Profile.Login.ConfirmPassword' | translate}}<sup>*</sup> </label>
                                <input  class="form-control" placeholder="{{'placeholder.Confirm Password'|translate}}" maxlength="50" formControlName="confirmPassword" type="password" passwordshow required [ngClass]="{validationcolor:setPasswordForm.controls.confirmPassword.hasError('required') && submitted }"
                                    (keydown.space)="$event.preventDefault()">
                                <div class="validation-error" *ngIf="setPasswordForm.controls['confirmPassword'].hasError('required') && submitted">{{'Profile.Login.Confirmpasswordisrequired' | translate }}</div>
                                <div class="validation-error" *ngIf="setPasswordForm.controls['confirmPassword'].hasError('mismatchedPasswords') && submitted">{{'Profile.Login.Passworddoesnotmatch' | translate}}</div>
                            </div>
                        </div>
                        <div class="text-center mt-2 btn">
                            <button class="mat-elevation-z6 signinbtn" type="button" (click)="recoverPassword(setPasswordForm)">
                <span>{{'Profile.Login.Submit' | translate}}</span>
            </button>
                        </div>
                    </div>
                </form>
            </ng-container>
            <ng-template #expriedToken>
                <div class="recover-form">
                    <span class="pwd-title pwd-link-expired">
             {{'Profile.Login.Linkhavealreadybeenused' | translate}}
          </span>
                </div>
            </ng-template>
        </ng-container>
    </div>
</mat-card>