<div class="chat-header flex">
    <h3>{{'common.Chat'|translate}}</h3>
    <button class="close" (click)="close()"> <img src="assets/imgs/close-modal-dark.svg" alt=""> </button>
</div>
<div class="chat-body">
    <div class="chat-day">{{'common.Today'|translate}}</div>
    <div class="cmc-row">
        <div class="cmcrt-lgo">
            <img src="assets/imgs/logo.png" alt=""> 
        </div>
        <div class="cmcrtcont">
            <div class="cmcr-top">
                <h4>{{'common.Spurt admin'|translate}}</h4>
                <p>12/04/2022  4:23 pm</p>
            </div>
            <div class="cmcr-content">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">                        
                        <img src="assets/imgs/dots-three.svg" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="#" class=""> <span> <img src="assets/imgs/swap.svg" alt=""> </span>{{'common.Reply'|translate}}</a>
                        <a href="#" class=""> <span> <img src="assets/imgs/trash.svg" alt=""> </span> {{'common.Delete'|translate}}</a>
                    </div>
                </div>
                Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui.
            </div>
        </div>        
    </div>
    <div class="cmc-row cmc-row-rht">        
        <div class="cmcrtcont">
            <div class="cmcr-top">
                <p>{{'common.Yesterday'|translate}}</p>
                <h4>Jessy hartel</h4>
            </div>
            <div class="cmcr-content">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">                        
                        <img src="assets/imgs/dots-three.svg" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="#" class=""> <span> <img src="assets/imgs/swap.svg" alt=""> </span> {{'common.Reply'|translate}}</a>
                        <a href="#" class=""> <span> <img src="assets/imgs/trash.svg" alt=""> </span> {{'common.Delete'|translate}}</a>
                    </div>
                </div>
                <h5>{{'common.Spurt admin'|translate}}</h5>
                Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui.
                <div class="cmcrc-reply">
                    Nam dapibus nisl vitae elit fringilla rutrum.
                </div>
            </div>            
        </div>  
        <div class="cmcrt-lgo">
            <img src="assets/imgs/photo-profile.png" alt="">               
        </div>      
    </div>
    <div class="cmc-row">
        <div class="cmcrt-lgo">
            <img src="assets/imgs/logo.png" alt=""> 
        </div>
        <div class="cmcrtcont">
            <div class="cmcr-top">
                <h4>{{'common.Spurt admin'|translate}}</h4>
                <p>12/04/2022  4:23 pm</p>
            </div>
            <div class="cmcr-content">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">                        
                        <img src="assets/imgs/dots-three.svg" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="#" class=""> <span> <img src="assets/imgs/swap.svg" alt=""> </span> {{'common.Reply'|translate}}</a>
                        <a href="#" class=""> <span> <img src="assets/imgs/trash.svg" alt=""> </span> {{'common.Delete'|translate}}</a>
                    </div>
                </div>
                Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui.
            </div>
        </div>        
    </div>
    <div class="cmc-row cmc-row-rht">        
        <div class="cmcrtcont">
            <div class="cmcr-top">
                <p>{{'common.Yesterday'|translate}}</p>
                <h4>Jessy hartel</h4>
            </div>
            <div class="cmcr-content">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">                        
                        <img src="assets/imgs/dots-three.svg" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="#" class=""> <span> <img src="assets/imgs/swap.svg" alt=""> </span> {{'common.Reply'|translate}}</a>
                        <a href="#" class=""> <span> <img src="assets/imgs/trash.svg" alt=""> </span> {{'common.Delete'|translate}}</a>
                    </div>
                </div>
                <img src="assets/imgs/bitmap.jpg" alt="">
            </div>            
        </div>  
        <div class="cmcrt-lgo">
            <img src="assets/imgs/photo-profile.png" alt="">               
        </div>      
    </div>
</div>
<div class="chat-footer">
    <div class="cme-reply">
        <button class=""> <img src="assets/imgs/close-modal-dark.svg" alt=""> </button>
        <h4>{{'common.Spurt admin'|translate}}</h4>
        <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum,</p>
    </div>
    <input type="text">
    <button class="attach"> <img src="assets/imgs/paperclip.svg" alt=""> </button>
    <button class="send"> <img src="assets/imgs/send.svg" alt=""> </button>
</div>