<form [formGroup]="filterForm" class="filter-form" (ngSubmit)="applyFilter()">

    <div class="form-group">
        <label for="keyword">{{'catalog.product.ProductName'| translate}}</label>
        <input type="text" formControlName="keyword" class="form-control" id="Keyword" aria-describedby="emailHelp" placeholder="{{'catalog.product.EnterSearchProductName'| translate}}">
    </div>
   
    <!-- <div class="form-group">
        <label>{{'catalog.product.PriceRange' | translate}}</label>
       <ng-select class="sol-fm" placeholder="Select Your Price Range" [searchable]="false" [clearable]="false" formControlName="price"  id="price">
    <ng-option  [value]="1">{{'catalog.product.LowtoHigh' | translate}}</ng-option>
    <ng-option [value]="2"> {{'catalog.product.HightoLow' | translate}}</ng-option>
   
</ng-select>

      
    </div> -->
    <!-- <div class="form-group">
        <label>{{'catalog.product.Status'| translate}}</label>
        <ng-select class="sol-fm" placeholder="{{'catalog.product.Select Status'| translate}}" [searchable]="false" id="inlineFormCustomSelect" formControlName="status" [clearable]="false">
            <ng-option [value]="1">{{'marketplace.seller.Active'| translate}}</ng-option>
            <ng-option [value]="0">{{'catalog.product.In-Active'| translate}}</ng-option>
        </ng-select>
    </div> -->
    <div class="filter-btns">        
        <button type="submit" class="btn">{{'catalog.product.ApplyFilters'| translate}}</button>
        <button (click)="resetFilter()" class="btn reset">{{'catalog.product.Reset'| translate}}</button>
    </div>
</form>