<div class="terms-logo">
    <div class="terms-logo-innr">
        <a href="javascript:void(0)"> <img src="assets/imgs/spurtv5-logo-new.svg" alt=""> </a>
    </div>
</div>
<div class="terms-header">
    <div class="terms-header-container">
        <h1>{{'TermsAndCondition.SpurtcommerceGeneralTermsOfUse'|translate}}</h1>
        <p>{{'TermsAndCondition.Published'|translate}}</p>
        <p>{{'TermsAndCondition.GeneralTerms'|translate}}</p>
    </div>
</div>
<div class="terms-content">
    <div class="terms-section">
        <h2>{{'TermsAndCondition.YourAgreementwithSpurtcommerce'|translate}}</h2>
        <p> {{'TermsAndCondition.WelcomeSpurtcommerceSeller'|translate}} </p>

        <h2> {{'TermsAndCondition.UserAccountResponsibility'|translate}}  </h2>
        <h3>{{'TermsAndCondition.AccountCreation'|translate}} </h3>
        <p>{{'TermsAndCondition.ByCreatingASellerAccount'|translate}}  </p>

        <h3>{{'TermsAndCondition.AccountSecurity'|translate}}   </h3>
        <p>{{'TermsAndCondition.YouAreResponsibleForMaintaining'|translate}} </p><p>

        <h3>{{'TermsAndCondition.MultipleAccounts'|translate}} </h3>
        <p> {{'TermsAndCondition.YouNayNotCreateMultipleSellerAccounts'|translate}}   </p>

    </div>
</div>