.dd-c {
    span{
        background: #078e05;
        color: white;
        padding: 1px 4px;
        border-radius: 18px;
        font-size: 11px;
        position: absolute;
        top: 5px;
        right: 3px;
        font-weight: 600;
    }
}