
<div >
    <header class="static-page" >
        <h2>Comprehensive SEO Addon for Enhanced Visibility</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Enhance your store’s visibility and drive more organic traffic with the SEO Addon. This powerful tool allows you to optimize your online content effortlessly.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Manage Meta Information :
                    </span>
                    Update meta titles, descriptions, and keywords for products, categories, pages, and blogs to improve search rankings.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Sitemap Generation : 
                    </span>
                    Automatically create sitemaps that streamline search engine indexing.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        User-Friendly Management : 
                    </span>
                    Enjoy an intuitive interface that makes SEO management simple and efficient.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/seo.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>SEO For Categories Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price :  <a href="https://spurtcommerce.com/extension/b2csolutions/seo-blogs-addon" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Meta Title and Description Updates</li>
                    <li class="QA-para">Keyword Management for SEO</li>
                    <li class="QA-para">Sitemap Generation</li>
                    <li class="QA-para">Easy-to-Use Interface</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/seo-blogs-addon" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 24 Oct 25, 10:30 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/seo-blogs-addon" class="QA-btn"  target="_blank">
                Buy Now
            </a>

        </div>
    
    </section>
</div>



