<div class="local-content">
    <div class="set-lay-notes flex">
        <h4>{{'Settings.nav.Note:'|translate}}</h4>
        <p>{{'Settings.nav.NotesInformation'|translate}} </p>
    </div>

    <div class="flex filter-row">
        <div class="filter-lft">
            <h2> Total Currency ( {{ currencyDataCount }} )</h2>
        </div>
        <div class="filter-rht flex">
            <div  class="added-filter flex" *ngFor="let filter of backupFormValue | keyvalue">
                <div class="added-filter-col flex" *ngIf="!empty.includes(filter.value)">
                   <span>{{ filter.key }} : </span>
                    <ng-container [ngSwitch]="filter.key">
                        <ng-container *ngSwitchCase="'Date'">
                            {{ filter.value | date: 'dd/MM/YYYY' }}
                        </ng-container>
                        <ng-container *ngSwitchCase="'Status'">
                            {{ filter.value==1 ?'Active':'In-active'}}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ filter.value }}
                        </ng-container>
                    </ng-container>
                    <button (click)="removeFilter(filter)">
                        <img src="assets/img/close.svg" alt="" />
                    </button>
                </div>
            </div>
            <div class="filter-search">
                <form class="" (keyup.enter)="applyFilter()">
                <app-common-form [type]="dynamicObjControls?.search?.type"
                [control]="dynamicObjControls?.search?.control"
                [inputId]="dynamicObjControls?.search?.inputId"
                [placeholder]="dynamicObjControls?.search?.placeholder">
            </app-common-form>
                </form>
            </div>
            <button (click)=" addCurrency('','add')" class="button-reg primary btn-sm"
                [appHideIfUnauthorized]="'create-currency'"> + {{'Settings.Local.Currency.AddCurrency' | translate}}
            </button>
        </div>
    </div>
    <!-- Filter -->

    <div class="flex product-wrap example-full-width" >

        <div class="product-table">
            <div class="spinner-wrapper" style="display: flex;justify-content: center;justify-items: center;">
                <app-global-loader [isShow]="sandbox.currencyListLoading$ | async"
                    style="transform: translate(58%, 18%);position:absolute"></app-global-loader>
            </div>
            <div class="table-responsive">
        
                <app-common-table *ngIf="(sandbox.currencyList$ | async)?.length > 0" [HeadArray]="dynamicColumnFields"  [GridArray]="sandbox.currencyList$ | async" 
                    (buttonChangeEvent)="buttonAction($event)" [customTemplate]="{productStatus:itemTemplateRef}"> 
                </app-common-table>
                <ng-template #itemTemplateRef let-item let-index="index">
                    <app-common-badge 
                        [badge]="badgeStatusMappings.hasOwnProperty(item.isActive)?badgeStatusMappings[item.isActive]:''"></app-common-badge>
                    </ng-template>
              
                 
                <!-- no data found -->
                <div class="nodata-found" *ngIf="(sandbox.currencyList$ | async)?.length === 0 && sandbox.currencyListLoaded$| async">
                    <span> <img src="assets/imgs/nodatafound.svg" alt=""> </span>
                    <h5>{{'Dashboard.NoDatafound'| translate}}</h5>
                </div>

                <!--pagination -->
                <div class="pagination flex" *ngIf="currencyDataCount > limit">
                    <app-reusable-pagination [type]="'numbers'" [currentPage]="currentPage"
                        [totalItems]="currencyDataCount" [pageSize]="limit"
                        (pageChange)="onPageChange($event)">
                    </app-reusable-pagination>
                </div>
            </div>
        </div>
    </div>
</div>