
<div >
    <header class="static-page" >
        <h2>Empower Your Store with the Blogs Addon for Content Marketing</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Enhance communication between the admin and sellers with the real-time chat feature, allowing for seamless interaction and notifications.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Easy Blog Article Creation :
                    </span>
                    Write and format your articles with an intuitive editor to share your insights and updates.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Seamless Publishing : 
                    </span>
                    Effortlessly publish articles to your storefront, making them visible to your audience instantly.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Engage Customers : 
                    </span>
                    Share valuable content that resonates with your audience, fostering loyalty and trust.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Boost SEO : 
                    </span>
                    Improve your site’s visibility in search results by regularly updating content with relevant keywords.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/blogs.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Blogs Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price : <a href="https://spurtcommerce.com/extension/b2csolutions/seo-blogs-addon"  class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Easy Blog Article Creation</li>
                    <li class="QA-para">Seamless Publishing to Storefront</li>
                    <li class="QA-para">Engage Customers with Relevant Content</li>
                    <li class="QA-para">Improve SEO and Visibility</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/seo-blogs-addon" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 22 Oct 25, 10:30 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/seo-blogs-addon" class="QA-btn"  target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



