<div>
    <div class="modal-header">
        <h6 class="modal-title"> {{'Shared.adddelivery.Doyouwantchangethisorderstatus'|translate}}</h6>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dismiss()" data-dismiss="modal">{{'Shared.adddelivery.No'|translate}}
    </button>
        <button type="button" class="btn btn-success" (click)="accept()" data-dismiss="modal">{{'Shared.adddelivery.Yes'|translate}}
    </button>
    </div>
</div>