<div class="auth-wrapper">

    <div class="auth-content">
        <div class="logo"> <img [src]="logoPath"  alt=""> </div>
        <div class="auth-content-row">
            <img src="assets/imgs/auth-img.svg" />
            <h1>{{'Login.LoginHeadtxt' | translate}}</h1>
            <ul>
                <li>{{'Login.LoginDetail1' | translate}}</li>
                <li>{{'Login.LoginDetail2' | translate}}</li>
                <li>{{'Login.LoginDetail3' | translate}}</li>
                <li>{{'Login.LoginDetail4' | translate}}</li>
                <li>{{'Login.LoginDetail5' | translate}}</li>
            </ul>
            
        </div>
    </div>

    <div class="auth-form">
        
        <a href="javascript:void(0)" class="ms-auto back-auth" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Back</a>
        
        <div class="auth-form-innr">
            <form [formGroup]="recoveryForm" >
                <div class="auth-form-top">
                    <h2>{{'newReq.Forgot Password'| translate}}</h2>
                    <p>{{'newReq.Enter your Registered email ID below. We will sent the link to reset your password' | translate}}</p>
                </div>
                <div class="did-floating-label-content mb-24">
                    <input class="did-floating-input" type="text" placeholder=" " formControlName="emailId"  (input)="changeemail()" (focusout)="focusouterrorShow()" appNoLeadingSpace [ngClass]="{'error-color':(recoveryForm.controls['emailId'].hasError('required') && isSubmitted==true)||emailInvalidShow || recoverPasswordFailed}" (input)="recoverdEmailChange()">
                    <label class="did-floating-label">{{'newReq.Your registered email'| translate}}</label>
                    <div *ngIf="(recoveryForm.controls['emailId'].hasError('required') && isSubmitted==true)" class="error-data">{{'common.Email id is required'|translate}}</div>
                    <div *ngIf="(emailInvalidShow)" class="error-data">{{'Please check the email you have
                        entered.' | translate}}</div>
                    <div *ngIf="recoverPasswordFailed" class="error-data error-color">{{'newReq.error'| translate}}</div>
                    <div *ngIf="recoverPasswordSuccess" class="success-data">{{'newReq.sellercontentimage' | translate}}</div>
                </div>
                <button type="button" class="button-reg primary" (click)="recoverPassword(recoveryForm)"><span></span>Submit</button>
            </form>
        </div>
    </div>

</div>