
<div>
    <header>
        <h1>Set Tailored Pricing for Individual Sellers and Groups</h1>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%" [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>

            <h1 class="addon-head">
                The Personalized Pricing Addon allows sellers to set different pricing strategies for specific seller
                groups or individual sellers, enhancing customer engagement and satisfaction.
            </h1>


            <ul class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Custom Pricing for Seller Groups :
                    </span>
                    Easily define pricing tiers for different seller groups to cater to various market segments.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Individual Pricing Precedence :
                    </span>
                    When pricing is set for individual sellers, it takes precedence over group pricing, ensuring
                    tailored offers.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Default Pricing for Guest Users :
                    </span>
                    Guest users will see default pricing, while logged-in users can access personalized pricing,
                    improving user experience.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Enhanced Customer Experience :
                    </span>
                    By offering personalized pricing, you create a more relevant shopping experience for customers,
                    encouraging loyalty and repeat purchases.
                </li>
            </ul>
        </div>

        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/images/pricing.svg" alt="Q&A">
                </div>

                <div class="QA-head">
                    <h2>Personalized Pricing Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>

                <p class="QA-para">Price : <a
                        href="https://spurtcommerce.com/extension/b2csolutions/personalized-pricing-addon"
                        class="QA-lnk clickme" target="_blank">
                        <span>
                            Click for more details
                        </span>
                    </a>
                </p>
            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Custom Pricing for Seller Groups</li>
                    <li class="QA-para">Individual Pricing Precedence</li>
                    <li class="QA-para">Default Pricing for Guest Users</li>
                    <li class="QA-para">Enhanced Customer Experience</li>
                </ul>

            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/images/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/personalized-pricing-addon" class="QA-lnk"
                    target="_blank">
                    <img src="assets/images/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>

            </div>

            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 23 Oct 24, 1:30 pm
                </p>
            </div>

            <a href="https://spurtcommerce.com/extension/b2csolutions/personalized-pricing-addon" class="QA-btn" target="_blank">
                Buy Now
            </a>
        </div>

    </section>
</div>