
<div >
    <header class="static-page" >
        <h2>Generate Scannable QR Codes for Your Products</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Simplify access to your product information with the Product QR Addon, allowing admins to generate QR codes that link directly to product detail pages.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Easy QR Code Generation :
                    </span>
                    Admins can effortlessly create QR codes for any product, streamlining the process of sharing product information.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Link to Product Detail Pages : 
                    </span>
                    Each QR code is linked to the corresponding product detail page, providing instant access to product specifications and purchasing options.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Enhance Customer Interaction : 
                    </span>
                    Customers can scan QR codes to quickly view product details, improving their shopping experience.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Boost Offline Engagement : 
                    </span>
                    Use QR codes in print materials, packaging, or in-store displays to bridge the gap between online and offline shopping.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/qr.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Product QR Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price :  <a href="https://spurtcommerce.com/extension/b2csolutions/product-qr" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Easy QR Code Generation</li>
                    <li class="QA-para">Link to Product Detail Pages</li>
                    <li class="QA-para">Enhance Customer Interaction</li>
                    <li class="QA-para">Boost Offline Engagement</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/product-qr" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 21 Oct 24, 10:30 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/product-qr" class="QA-btn"  target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



