/* Add any additional styling as needed */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

.page-size-selector {
  margin-left: 10px;
}

.number-button {
  padding: 5px;
  border: 1px solid grey;
  margin: 2px;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;
  /* Other browsers */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.disable-page{
  opacity: 0.5;
  pointer-events: none;
}