
<div >
    <header>
        <h1>Streamline Customer Quotes with the Request Quote Addon</h1>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Facilitate customer inquiries and pricing discussions with the Request Quote Addon, allowing customers to raise quotes that include important details.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Customer Quote Requests : 
                    </span>
                    Customers can easily submit requests for quotes, enabling effective tracking of inquiries.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Detailed Purpose for Raising Quotes : 
                    </span>
                    Customers can provide specific reasons for their quote requests, helping admins understand their needs better.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Required Quantity and Approximate Budget : 
                    </span>
                    Customers can specify the quantity needed and their estimated budget, allowing for tailored responses.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Prompt Price Responses : 
                    </span>
                    Admins can respond quickly with pricing information, enhancing the overall customer experience.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Enhanced Customer Communication :
                    </span>
                    Strengthen relationships by engaging directly with customers regarding their specific needs and pricing options.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/images/quotation.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Request Quote Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price : <a href="https://spurtcommerce.com/extension/b2bsolutions/product-quotation" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
                
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Customer Quote Requests</li>
                    <li class="QA-para">Detailed Purpose for Raising Quotes</li>
                    <li class="QA-para">Required Quantity and Approximate Budget</li>
                    <li class="QA-para">Prompt Price Responses</li>
                    <li class="QA-para">Enhanced Customer Communication</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/images/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2bsolutions/product-quotation" class="QA-lnk"  target="_blank">
                    <img src="assets/images/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 21 Oct 24, 10:00 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2bsolutions/product-quotation" class="QA-btn" target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



