
<div >
    <header class="static-page" >
        <h2>Enhance Customer Engagement with Product Q&A</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Boost customer engagement with the Product Question and Answer Addon, enabling customers to post questions about products and receive answers from sellers and other buyers.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Customer-Driven Q&A :
                    </span>
                    Customers can easily post questions regarding a product, fostering interaction and gathering useful information.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Seller and Customer Participation : 
                    </span>
                    Sellers can respond to customer inquiries, and previously purchased customers can share their insights and experiences.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Default Answer Feature : 
                    </span>
                    Sellers can select one answer as the default response, providing clarity and highlighting key information for potential buyers.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Interactive Response Display : 
                    </span>
                    Manage multiple answers for a single question, allowing additional responses to be viewed by clicking "See More," keeping the interface clean and user-friendly.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/question-answer.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Product Question and Answer Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price :  <a href="https://spurtcommerce.com/extension/b2csolutions/question-and-answer" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Customer-Driven Q&A</li>
                    <li class="QA-para">Seller and Customer Participation</li>
                    <li class="QA-para">Default Answer Feature</li>
                    <li class="QA-para">Interactive Response Display</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/question-and-answer" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 23 Oct 26, 10:40 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/question-and-answer" class="QA-btn"  target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



