<app-pageGroup-layout></app-pageGroup-layout>

<div *ngIf="appSandbox.pageGroupCountLoading$ | async" class="loading-data">
    <img style="height: 10vh" src="./assets/loader/Spurt-commerce-Loader-2.1.gif" />
</div>

<app-pageGroup-layout></app-pageGroup-layout>

<div *ngIf="appSandbox.pageGroupCountLoading$ | async" class="loading-data">
    <img style="height: 10vh" src="./assets/loader/Spurt-commerce-Loader-2.1.gif" />
</div>
<div class="flex addproduct-wrap">

    <form (ngSubmit)="onSubmit()" [formGroup]="pageGroupForm" class="form-horizontal  d-block">
        <div class="card ap-general">

            <div class="ap-header">
                <h3>{{'CMS.Pages.GeneralInformation'| translate}}</h3>
                <p>{{'pageManage.pageGroupContent' | translate}}</p>
            </div>

            <div class="ap-body">
                <div class="ap-form-row6">
                    <div class="ap-body-col">
                        <div class="form-group">
                            <label for="">
                                {{'CMS.PageGroup.GroupName'| translate}}* 
                                <button type="button" class="tooltip-btn" placement="end" ngbTooltip="{{'CMS.Pages.Addmultipleages' | translate}}">
                                    <img src="assets/img/info-ico.svg" />
                                </button>                                 
                            </label>
                            <div class="">
                                <input class="form-control" type="text" appNoLeadingSpace formControlName="groupName" placeholder="{{'CMS.Placeholder.PageTitle'| translate}}" [ngClass]="{'validationcolor':(pageGroupForm.controls.groupName.errors && submitted==true)|| pageGroupForm.controls['groupName'].hasError('pattern')}">
                                <div class="validation-error" *ngIf=" pageGroupForm.get('groupName').hasError('required') && submitted == true">
                                    {{'CMS.PageGroup.GroupNameIsRequired'| translate}}
                                </div>
                                <div class="validation-error" *ngIf="pageGroupForm.get('groupName').hasError('maxlength')">
                                    {{'CMS.BannerError.MustBe255CharacterLong'| translate}}
                                </div>
                                <div class="validation-error" *ngIf="pageGroupForm.controls['groupName'].hasError('pattern')">
                                    {{'ValidationsErrorMessage.Allowonlyalphabetsspaces'| translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ap-body-col">
                        <div class="form-group">
                            <label for="">
                                {{'marketplace.seller.Active'| translate}}* 
                                <button type="button" class="tooltip-btn" placement="end" ngbTooltip="{{'CMS.Pages.Thegroupnameactiveorinactive' | translate}}">
                                    <img src="assets/img/info-ico.svg" />
                                </button>                                 
                            </label>
                            <div class="">
                                <ng-select placeholder="{{'CMS.Pages.SelectActive'| translate}}" [searchable]="false" formControlName="status" id="inlineFormCustomSelect" [ngClass]="{'error-fields':pageGroupForm.controls.status.errors && submitted==true}" [clearable]="false">
                                    <ng-option [value]="1">{{'CMS.Pages.Yes'| translate}}</ng-option>
                                    <ng-option [value]="0">{{'CMS.Pages.No'| translate}}</ng-option>
                                </ng-select>
                                <div class="validation-error" *ngIf=" pageGroupForm.get('status').hasError('required') && submitted == true">
                                    {{'Customers.Error.StatusIsRequired'| translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </form>

</div>


<div class="action-button-container flex">
    <button class="button-reg btn-md tertiary"(click)="pagesCancel()">{{'CMS.Pages.Cancel'|translate}} </button>
    <button class="button-reg btn-md primary" (click)="onSubmit()">{{'CMS.Pages.Save'| translate}} </button>
</div>

