
<div >
    <header class="static-page" >
        <h2>Increase Sales with Related Products Recommendations</h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                Drive additional sales with the Related Products Addon, which enables you to showcase related items on product pages.
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                        Boost Cross-Selling Opportunities :
                    </span>
                    Encourage customers to explore complementary products, increasing average order value.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Personalized Shopping Experience : 
                    </span>
                    Provide tailored recommendations based on customer behavior and preferences.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Easy Configuration : 
                    </span>
                    Set up related products quickly and manage them through a user-friendly interface.
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                        Enhanced Customer Engagement : 
                    </span>
                    Keep customers on your site longer by showcasing relevant items they may be interested in.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/related-product.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Related Products Addon</h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price :  <a href="https://spurtcommerce.com/extension/b2csolutions/related-products-addon" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
                
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Boost Cross-Selling Opportunities</li>
                    <li class="QA-para">Personalized Shopping Experience</li>
                    <li class="QA-para">Easy Configuration</li>
                    <li class="QA-para">Enhanced Customer Engagement</li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/related-products-addon" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 21 Oct 24, 10:30 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/related-products-addon" class="QA-btn"  target="_blank">
                Buy Now
            </a>

        </div>
    
    </section>
</div>



