<!--Loader -->
<div class="spinner-wrapper">
  <app-global-loader [isShow]="(sandbox.pageGroupLocalizationDetail$ | async) && (languageSandbox.languageListLoading$ | async)" style="transform: translate(50%, 400%); position: absolute; z-index: 1;">
  </app-global-loader>
</div>

<div
  class='Language_page_wrapper__Qb2id undefined Language_page_wrapper_normal__oteTI Language_add_page_wrapper__KbanA'>
  <div class='add_user_container add_role_container'>

    <!-- Detail -->
    <div class="flex prod-dtl">
      <div class="prod-dtl-content d-flex align-items-center">
        <a class="to-back" (click)="cancel()">
          <img src="assets/imgs/back.svg" alt="">
       </a>
        <h3>{{pageGroupDetail?.groupName}}</h3>
      </div>
    </div>

    <div class='add_role_title'>
      <h3 class="mt-3"> {{'marketplace.common.Languages' | translate}} </h3>
      <p>{{'localization.PagesGroup' | translate}} </p>
    </div>
    <div class='languages_nav_list flexx'>
      <a (click)="scrollToLanguage(lang.name)" *ngFor="let lang of languageList">{{ lang.name }}</a>
    </div>

    <div class="addproduct-wrap p-0">

      <div class="card ap-general" *ngFor="let lang of languageList; let i = index" [id]="lang.name">
        <div class="ap-header sub-sub-header">
          <h3>
            <img [src]="imageUrl + '?path=' + lang.imagePath + '&name=' +  lang.image + '&width=25&height=15'" />
            {{ lang.name }}, <span>{{ lang.code }}</span>
          </h3>
        </div>
        <div class="ap-body">
          <form [formGroup]="forms[i]">
            <input type="hidden" formControlName="languageId" [value]="lang.languageId" [placeholder]="lang.languageId">
            <div class='languges_card__row'>
              <div class='form-group flex-column mb-3'>
                <label>{{'CMS.PageGroup.GroupName' | translate}} </label>
                <div class="ig-row">
                  <input formControlName="groupName" type="text" appNoLeadingSpace class='int form-control' [placeholder]="lang.name" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="action-button-container flex">
    <button (click)="cancel()" class="button-reg btn-md secondary">
      {{ 'Customers.Customer.Cancel' | translate }}
    </button>
    <button class="button-reg btn-md primary" (click)="save()">
      {{ 'Customers.Customer.Save' | translate }}
    </button>
  </div>
</div>