.tab-row-click{
    cursor: pointer;
}
.loading {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.faild{
    background-color: #faebeb;
    border: 1px solid #F5C8C8;
}


.remove-btn{
    border: 0;
    padding: 0;
    background-color: transparent;
}


.disableclass{
    pointer-events: none;
}