<div class="page-wrapper">
    <div class="page-subnav" [ngClass]="{handSymbolRemove: allowUnapprovedSeller}">
        <h2>{{'payments.Payments'|translate}}</h2>
        <div class="page-subnav-sublist">
            <a href="javascript:void(0)"  [routerLinkActive]="'active'" [routerLink]="['/payments/settlements']">{{'payments.Settlements'|translate}}</a>
            <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/payments/archived-payments']">{{'payments.ArchivedPayments'|translate}}</a>
            <a href="javascript:void(0)"  [routerLinkActive]="'active'" [routerLink]="['/payments/earning']">{{'payments.Earnings'|translate}}</a>

        </div>
    </div>
    <div class="page-container">
        <router-outlet></router-outlet>
    </div>
</div>