<div class="subtoolbar servicetoolbar" > 
    <div class="sub-nav-menu">
        <a  href="javascript:void(0)" [routerLink]="['/support/Manage-ticket-list']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/package.svg"></span>Manage Tickets <span class="new">New</span>
        </a>
        <a  href="javascript:void(0)" [routerLink]="['/support/conversation']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/package.svg"></span> Conversation <span class="new">New</span>
        </a>
    </div>
    
</div>