.new {
    background: #3ce97e;
    color: #fff;
    padding: 1px 7px;
    border-radius: 18px;
    font-size: 11px;
    top: 13.2rem;
    right: 52px;
    font-weight: 600;
    margin-left: auto;
    width: auto !important;
    position: static !important;
    color: #222;
}