
<div >
    <header class="static-page" >
        <h2>Showcase Special Offers with Custom Promotion Widgets  </h2>
    </header>
    <section class="addon-grd">

        <div class="addon-rgt">
            <div class="addon-banner">
                <iframe width="100%"  [src]="videoUrl" frameborder="0" allowfullscreen>
                </iframe>
            </div>
    
            <h1 class="addon-head">
                The Promotion Widgets Addon allows you to create and display promotional banners on your storefront’s home page, showcasing special offers like "Hot Summer Sale" or "Winter Offers."  
            </h1>
    
    
            <ul  class="addon-list-cont">
                <li class="addon-list">
                    <span class="addon-bold">
                       
                    </span>
                    Create Eye-Catching Promotions: Design vibrant promotion widgets that highlight current sales or seasonal offers, capturing customer attention.  
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                      
                    </span>
                    Map Categories and Products: Easily link these promotions to specific categories or products, ensuring customers can navigate directly to the items on sale.  
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                       
                    </span>
                    Seamless Integration on Home Page: Once created in the admin panel, promotions will automatically display on the storefront home page, enhancing visibility.  
                </li>
                <li class="addon-list">
                    <span class="addon-bold">
                       
                    </span>
                    Enhanced Customer Engagement: Encourage customers to explore promotions, driving more traffic to your product pages and increasing conversion rates.
                </li>
            </ul>
        </div>
    
        <div class="QA-card">
            <div class="QA-top">
                <div class="QA-icon">
                    <img src="assets/static-img/Promotion.svg" alt="Q&A">
                </div>
    
                <div class="QA-head">
                    <h2>Promotion Widgets Addon </h2>
                    <p class="QA-para">Community</p>
                </div>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Pricing</h3>
                <p class="QA-para">Price :  <a href="https://spurtcommerce.com/extension/b2csolutions/promotion-widgets" class="QA-lnk clickme" target="_blank">
                    <span>
                        Click for more details
                    </span>
                </a></p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Highlights</h3>
                <ul>
                    <li class="QA-para">Create Eye-Catching Promotions</li>
                    <li class="QA-para">Map Categories and Products Seamless Integration on Home Page </li>
                    <li class="QA-para">Enhanced Customer Engagement </li>
                </ul>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Developer</h3>
                <p class="QA-para">Spurtcommerce</p>
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">
                    Support
                </h3>
                <a href="https://spurtcommerce.com/get-support" class="QA-lnk" target="_blank">
                    <img src="assets/static-img/get-support.svg" alt="get support">
                    <span>
                        Get Support
                    </span>
                </a>
                <a href="https://spurtcommerce.com/extension/b2csolutions/promotion-widgets" class="QA-lnk"  target="_blank">
                    <img src="assets/static-img/documentation.svg" alt="Documentation">
                    <span>
                        Documentation
                    </span>
                </a>
    
            </div>
    
            <div class="mb-4">
                <h3 class="QA-subHead">Updation</h3>
                <p class="QA-para">
                    Last updated on 23 Oct 24, 10:10 am
                </p>
            </div>
    
            <a href="https://spurtcommerce.com/extension/b2csolutions/promotion-widgets" class="QA-btn"  target="_blank">
                Buy Now
            </a>
        </div>
    
    </section>
</div>



